.container {
	display: flex;
	flex-wrap: wrap;
	margin-top: 60px;
}

.item {
	background-color: #00c0ef;
	width: 150px;
	height: 180px;
	margin: 12px;
	cursor: pointer;
}
.inner_text {
	font-size: 100px;
	margin-left: 40px;
	opacity: 0;
}

.replay {
	margin-left: 45%;
	margin-top: 45px;
}